

body {
    background-color: antiquewhite;
}

.words {
    color: antiquewhite;
    font-family: 'Quicksand', sans-serif;

}

a {
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    color: #149FCC;
    text-decoration: none;
}

.overlay {
    margin: 0;
}

.overlay-text {
    margin-top: 70px
}

#index-image {
    margin-top: -360px;
}

.card-title {
    font-size: 500px;
}
.half {
    width: 100%;
    height: 609px;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 330px;
    left: -10px;
    z-index: 2;
}

.navbar-brand {
    font-size: 26px;
}

.nav-item {
    font-size: 20px;
}

.tour-container {
    width: 100%;
    margin: 0;
    padding-top: 40px;
    background-color: antiquewhite;
}

.tour-details {
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 18px;
}

h1 {
    padding: 10px;
}

footer {
    margin-top: -20px;
}

.tour-container {
    background-color: #ac3e5b;
}

.page-footer {
    padding-top: 30px;
    background-color: antiquewhite;
}

.words-2 {
    color: #07087a;
}

i {
    font-size: 40px;
    float: left;
    padding: 15px;
}

/* Contact Page */

.overlay-contact {
    margin: 0;
}

#album-image {
    margin-top: -460px;
}

.contact-body {
    background-color: #ac3e5b;
    padding-top: 40px;
    height: 800px;
}

.contact-form {
    width: 700px;
    margin: 0 340px;
    padding: 20px;
}

#name,
#email {
     color: antiquewhite;
}

.btn-outline-primary {
    color: #ac3e5b;
    border-color: #ac3e5b;
    background-color: antiquewhite;
    margin: 20px 370px;
}

.btn-outline-primary:hover {
    background-color: #ac3e5b;
    color: antiquewhite;
    border-color: antiquewhite;
}

/* Lyrics Page */

#window-image {
    margin-top: -800px;
}

.lyrics-container {
    margin: 0;
    padding: 40px;
    background-color: #ac3e5b;
    height: auto;
}

.card {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;

}

.card-body {
    height: 360px;
    overflow: scroll;
    background-color: #ac3e5b;
    font-size: 18px;
    color: antiquewhite;
    font-family: 'Quicksand', sans-serif;
    line-height: 3;
    padding: 30px;
    border: 1px solid rgba(250,235,215,.3)
 

}

h5 {
    font-size: 30px;
}

.lyrics-1,
.lyrics-2,
.lyrics-3 {
    padding: 20px 20px;
}

.btn-primary {
    color: #ac3e5b;
    border-color: #ac3e5b;
    background-color: antiquewhite;
}

.btn-primary:hover {
    background-color: #ac3e5b;
    color: antiquewhite;
    border: none;
}

.btn-primary:active {
    background-color: #ac3e5b;
    color: antiquewhite;
    border: none;
}

.practice {
    width: 100%;
    
}